<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/wiz.svg` | relURL }}" width="200" height="200" alt="Bootstrap">
        <h2 class="h2">Control<small class="d-none">🛡️</small></h2>
        <p>Powered by Huggingface's Zephyr LLMs, our friendly <a href="https://huggingface.co/ehsanaghaei/SecureBERT" target="_blank" rel="noopener">AI-based</a> RexWIZ
           assistant tailors your security to your needs without the jargon. RexWiz is trained on datasets containing millions of cyberdefense logs, so you can tailor our suite to your needs and security levels instantly.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/new shield.svg` | relURL }}" width="200" height="200" alt="Bootstrap">
        <h2 class="h2">Secure <small class="d-none">🚀</small></h2>
        <p>Block attacks by preventing them from happening in the first place. <a href="https://googlechrome.github.io/lighthouse/viewer/?gist=1f990bcb2d769bb4e82e7fc7a8be2b1f" target="_blank" rel="noopener">RexKnight</a>
             automates routine penetration tests to secure your vulnerabilites. Connected to official publications like Cybrary and OWASP's Top 10, RexKnight stays up to date so you don't have to.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/sword.svg` | relURL }}" width="200" height="200" alt="Bootstrap">
        <h2 class="h2">Protect <small class="d-none">📈</small></h2>
        <p>Respond immediately with <a href="https://www.crowdstrike.com/resources/community-tools/falcon-orchestrator" target="_blank" rel="noopener">RexArmy</a>, built off industry-standard Crowdstrike Orchestra technology, to kill an attack the moment it starts. With Rex's suite, your AI security team is ready at the blink of an eye. Whether it's 2 AM or 12 PM, RexArmy shuts down threats instantly.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Auto Compliance<small class="d-none">🦉</small></h2>
        <p>RexWiz generates automated compliance reports for standards like <a href="https://www.cybersaint.io/blog/the-six-stages-of-cyber-risk-and-compliance-automation" target="_blank" rel="noopener">GDPR, HIPAA, and others,</a>  similar to how Varonis assists organizations in meeting regulatory requirements, so you can spend more time doing what you love and less time buried in documents.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Cloud-Native Firewall <small class="d-none">✨</small></h2>
        <p>Our cloud-native firewall <a href="https://nordlayer.com/features/cloud-firewall/?gad_source=1&gclid=CjwKCAjwte-vBhBFEiwAQSv_xbzJjtcsUxDxKNCQ8qRfy6693d7XO9g1ItN93o1XELhf0Saq90gMvBoCIRoQAvD_BwE" target="_blank" rel="noopener">frontend toolkit</a> powered by industry-standard NordLayer frameworks uses AI to learn more from every attack. Our LLM platforms integrate <a href="https://www.veracrypt.fr/code/VeraCrypt/" target="_blank" rel="noopener">VeraCrypt</a> protocols in the cloud to ensure that your communications and data are always secured.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Nightwatch<small class="d-none">🧰</small></h2>
        <p>Our propeitary advanced intrusion detection system (IDS), Nightwatch, utilizes AI to learn normal network behavior and detect deviations, to better differentiate between your activities and those of nefarious actors and shut threats down right away.</p>
    </div>
</div>
